<%- include("../partials/header") %>
<% var auth = false; %>
<% if(currentUser && team.admin.id.equals(currentUser._id)) { %>
<%      auth = true; %>
<% } %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="text-align: center">
                <div class="container">
                    <img src="<%- team.profile_pic %>" class="team-logo">
                </div>
                <div>
                    <h4><%= team.name %></h4>
                </div>
                <% if(auth) { %>
                    <p>
                        <a href="/teams/<%= team._id %>/edit" class="btn btn-primary">Edit Team info</a>
                    </p>
                    <div style="text-align: center;">
                        <form action="/teams/<%- team._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <% team.players.forEach(function(player) { %>
                    <li class="list-group-item">
                        <%- player.name %>
                        <% if(auth) { %>
                            <div style="text-align: right;">
                                <form action="/players/<%- player._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                            </div>
                        <% } %>
                    </li>
                <% }); %>
                <li class="list-group-item">
                    <% if(auth) { %>
                        <label>Add new player</label>
                        <form action="/players" method="POST">
                            <input class="form-control" type="text" name="player[name]" placeholder="new player name">
                            <input class="form-control" type="hidden" name="team_id" value="<%- team._id %>">
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">Add</button>
                            </div>
                        </form>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>